apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql-deployment
  labels:
    app: postgresql

spec:
  replicas: 1

  selector:
    matchLabels:
      app: postgresql

  template:
    metadata:
      labels:
        app: postgresql

    spec:
      containers:
        - name: postgresql
          image: postgres:15
          ports:
            - containerPort: 5432

          env:
            - name: POSTGRES_DB
              value: watchlistdb
            - name: POSTGRES_USER
              value: watchlistuser
            - name: POSTGRES_PASSWORD
              value: watchlistpassword
          
          volumeMounts:
            - name: postgresql-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgresql-storage
          persistentVolumeClaim:
            claimName: postgresql-pvc